* {
    font-family: "IBM Plex Mono";
    font-size: 13px;
    color: #989898;
}

window {
    background-color: #0d0d0d;
    border: 1px solid #2a2a2a;
    padding: 2px;
}

#input {
    background-color: #0d0d0d;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #2a2a2a;
    padding: 4px;
    margin: 0;
    outline: none;
    caret-color: #ffffff;
}

#entry {
    padding: 2px 4px;
    background-color: transparent;
    color: #989898;
}

#entry:selected {
    background-color: #2a2a2a;
    color: #ffffff;
}
